.wrapper{
    padding-top:40px !important;
}

.input-group-rounded {
    border-radius: 10px;
}

.short-input {
    max-width: 4.5rem;
}

.scrollable-dropdown {
    max-height: 9rem;
    overflow-y: auto;
}

.form-check{
    margin-left:5px;
}

.custom-form-check,.custom-form-label{
    cursor: pointer !important;
}

.custom-form-check:hover{
    background-color: #f6542c;
    color:white;
}




@media screen and (max-width: 1440px) {
    .announcement-card-div {
        width: 70%;
    }

}



@media screen and (max-width: 550px) {
    .filter-search-buttons{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & button:first-child{
            margin-top: 40px!important;
        }
        & button{
            margin:10px 0 !important;
            min-width: 180px;
            max-width: 220px;

        }
    }

}

