.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set the container to fill the viewport height */
    background-color: #252525 !important;
    color:#fff !important;
}