.announcement-card {
    height: 100%;
    min-width: 300px;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.announcement-card-body {
    min-height: 150px;
}

.tall-image {
    height: 180px;
}

.premium-announcement-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 3em;
    position: absolute;
    top:27%;
    bottom: 0;
    right: 1%;
    z-index: 990009;
}

.premium-announcement-icon i {
    border-radius: 10px;
    color: #f54114 !important;
    font-size:1.4em !important;
    background-color:antiquewhite;
    padding:0 4px;
}


@media (max-width: 768px) {
    .premium-announcement-icon i {
        font-size: 1.2em !important;
    }
}





.announcement-card {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.announcement-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-key {
    margin-right: 10px;
}

@media screen and (max-width: 1440px) {
    .announcement-card {
        min-width: 300px;
        margin-bottom: 20px;
    }

    .tall-image {
        height: 150px;
    }
}

@media screen and (max-width: 1400px) {
    .announcement-card {
        min-width: 250px !important;
    }

    .card-body{
        padding:1rem 1rem;
    }

    .info-key ,.value
    {
        font-size: 90%;
    }

    .card-title {
        font-size: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .announcement-card {
        min-width: 200px !important;
        margin-right: .5rem  !important;
        margin-bottom: 10px !important;
    }

    .card-body{
        padding:.8rem .8rem;
    }

    .info-key ,.value
    {
        font-size: 70%;
    }

    .card-title {
        font-size: 90%;
    }

    .tall-image {
        height: 100px;
    }

    .premium-announcement-icon i{
        font-size: 1.2em !important;
    }

}


@media screen and (max-width: 512px) {
    .announcement-card {
        min-width: 170px !important;
        margin-right: .35rem  !important;
        margin-bottom: 6px !important;
    }

    .card-body{
        padding:.4rem .4rem;
    }

    .info-key ,.value
    {
        font-size: 80%;
    }

    .card-title {
        font-size: 80%;
    }

    .tall-image {
        height: 80px;
    }

    .premium-announcement-icon{
        top:23%;
    }
    .premium-announcement-icon i{
        font-size: 1em !important;

    }

}


@media screen and (max-width: 447px) {
    .announcement-card {
        min-width: 150px !important;
        margin-right: .25rem  !important;
        margin-bottom: 4px !important;
    }

    .card-body{
        padding:.3rem .3rem;
    }

    .info-key ,.value
    {
        font-size: 80%;
    }

    .card-title {
        font-size: 80%;
        margin:0
    }

    .tall-image {
        height: 70px;
    }

    .premium-announcement-icon{
        top:20%;
    }

    .premium-announcement-icon i{
        font-size: 1em !important;
    }

    .announcement-card-body .list-group-item{
        padding: .3rem !important;
    }

    .infinite-scroll-component .container-fluid{
        padding-right: 0;
        padding-left: 0;
        display:flex;
        flex:1;
        justify-content: center;
        align-items: center;
    }

}


