.btn-square{
    padding:.4rem;
    font-size: 14px;
}

.nav{
    margin-bottom: 5px;
}

@media only screen and (max-width: 380px) {
    .navbar-brand img {
        max-width: 160px;
    }
}


@media (max-width: 290px){
    .navbar-brand{
        padding:0 ;
        margin:0 !important;
    }
    .navbar-brand img {
        max-width: 130px;
    }

    .sidebar-toggle.sidebar-toggle-responsive{
        display:none;
    }

}
